<html>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-light animate__animated animate__fadeInDown">
    <div class="container-fluid">
      <a class="navbar-brand navbar-raul" href="#">Raul Pineda</a>
      <button style="color:transparent; border-color:white;" class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
          class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" aria-current="page"
              href="#aboutMe">| About me</a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="#education">|
              Education</a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="#technologies">|
              Technologies</a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="#languages">|
              Languages</a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="asdsasda">|
              Projects</a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="asdsasda">|
              Git Repositories</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br id="aboutMe"><br><br> <br>

  <!--Presentation-->
  <div class="card mb-3 text-white" style="background-color: transparent; width: 100%; text-align: justify; ">
    <div class="row g-0" style="margin:0.5em;">
      <div class="col-md-4">
        <img class="img-fluid img-shadow-white img-round" alt="..." src="../assets/images/portrait_picture2.jpg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title text-center">Hello visitor, I'm Raul Ivan Pineda Pedraza!</h4>
          <p class="card-text" style="margin-top: 3em;">
            This website was design by me as resource to explain you who am I and show you the projects I have developed
            during my career as a software engineer. I decide to create this blog in order to improve my resume with not
            just text, but also
            with a live project!
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <p id="education"></p>
    </div>
  </div>

  <!--Education Background-->
  <div class="container" style="padding: 3em;">
    <h1 class="text-white text-center">Education Background</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col img-shadow2">
        <div class="card">
          <img src="../assets/images/uaa_image.jpeg" class="card-img-top img-shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bachelor's Degree</h5>
            <p class="card-text">Graduated from "Autonomous University of Aguascalientes" Lorem ipsum dolor sit amet
              adipisci sit atque totam?
            </p>
          </div>
        </div>
      </div>
      <div class="col img-shadow2">
        <div class="card">
          <img src="../assets/images/epccLogo.png" class="card-img-top img-shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title">English Course</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col img-shadow2">
        <div class="card">
          <img src="../assets/images/udemyLogo.png" class="card-img-top img-shadow" alt="...">
          <div class="card-body">
            <h5 class="card-title">Complete C# Masterclass Course</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br id="technologies">

  <!--Technologies and knowledge-->
  <div class="container">
    <h1 class="text-center text-white" id="technologies">Experience on these Technologies</h1>
  </div>
  <br>
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col">
        <img src="../assets/images/technologies/cLogo.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/mysqlLogo.png" style="margin-top: 1em;" class="img-fluid zoom-image"
          alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/netCoreLogo.png" style="margin-top: 1em;" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/aspMVCLogo.jpg" class="img-fluid zoom-image" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="../assets/images/technologies/angularLogo.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/webapi.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/nodejsLogo.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/Selenium_logo.png" class="img-fluid zoom-image" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img src="../assets/images/technologies/mongodbLogo.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/pythonLogo.png" style="margin-top: 1em;" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/robotframeworkLogo.png" class="img-fluid zoom-image" alt="">
      </div>
      <div class="col">
        <img src="../assets/images/technologies/entityframeworkLogo.jpg" class="img-fluid zoom-image" alt="">
      </div>
    </div>

  </div>
  <br id="languages"><br>

  <!--Languages-->
  <div class="container px-4 text-center">
    <h1 class="text-white">Languages</h1> <br>
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border img-shadow2">
          <img src="../assets/images/mexico_flag.png" style="width: 20em;" class="img-fluid img-shadow-white zoom-image2" alt="">
          <h2 class="text-white">Native Spanish</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border img-shadow2">
          <img src="../assets/images/united_states_flag.png" style="width: 20em;" class="img-fluid img-shadow-white zoom-image2" alt="">
          <h2 class="text-white">English B2+</h2>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container">
    <h1 class="text-center text-white" id="technologies">Projects</h1>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
</body>

</html>