<html>
  <body>


<nav class="navbar navbar-expand-lg bg-light" style="text-align: center;">
  <div class="container-fluid">
    <a class="navbar-brand navbar-a" style="color:darkblue; text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff; margin-right: 40%;" href="#">Raul Pineda</a>
    <button style="color:transparent; border-color:white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" aria-current="page" href="asas">Home</a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="asdsasda">| Projects</a>
        </li>
        <li class="nav-item">
          <a data-toggle="collapse" data-target=".navbar-collapse" class="nav-link navbar-a" href="asdsasda">| Git Repositories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
  <div class="card mb-3 text-white animate__animated animate__bounceInLeft" style="background-color: transparent; width: 100%; text-align: justify; ">
    <div class="row g-0" style="margin:0.5em;">
      <div class="col-md-4">
        <img 
        class="img-fluid img-round" alt="..."
        src="../assets/images/IMG-20210603-WA0024.jpg" >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">This Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolore nulla quidem quia cum dolores beatae tempore incidunt. Delectus harum voluptas animi temporibus, distinctio repudiandae dolores doloribus eos aspernatur explicabo?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro sequi harum esse ut provident minima qui voluptates optio quia magni, et cum soluta fugiat ea modi necessitatibus. Distinctio, sit ad?
             is a wider card with supporting text below as a natural lead-in 
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora numquam, quas sit, magni dicta assumenda, obcaecati asperiores magnam voluptatibus maiores laborum suscipit provident 
             dignissimos. A earum at minima magni voluptate. to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>
</div>
<br><br><br>

<div class="card mb-3 text-white" style="background-color: transparent; width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img 
      src="https://scontent-hou1-1.xx.fbcdn.net/v/t39.30808-6/278889319_3163958613878954_7435326616879689557_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH360H0LHDIZ-bS0Z0SxDyoC_Ka1C_M7csL8prUL8zty2hyqy29qJOybig0p1QNMd8WgbPFqTYbJMNCDqCDypVH&_nc_ohc=JJfBcW08cwgAX_CDx0B&_nc_ht=scontent-hou1-1.xx&oh=00_AT9-CNfUVpXHoPWiNIrfXKfGfqA2LrJXmNn-A-DHRNqJww&oe=635D181D" 
      class="img-fluid rounded-start w-100" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolore nulla quidem quia cum dolores beatae tempore incidunt. Delectus harum voluptas animi temporibus, distinctio repudiandae dolores doloribus eos aspernatur explicabo?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro sequi harum esse ut provident minima qui voluptates optio quia magni, et cum soluta fugiat ea modi necessitatibus. Distinctio, sit ad?
           is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
</div>
</div>
<br><br><br>

</body>
</html>
